@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "bootstrap/dist/css/bootstrap.min.css";

html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* @theme {

  --font-display: "Satoshi", "sans-serif";
  --color-brand: #3b82f6;
} */